h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

.homepage {
  height: 800px;
  /* width: 1920px; */
  background: url(../img/main_bg.jpg) no-repeat center / cover;
  padding-top: 22px;
  text-align: center;
}

.logo-img,
.logo-text {
  margin: 0 auto;

}

.logo-text {
  color: white;
  text-align: center;
  margin-top: 13px;
  font-size: 16px;
  font-weight: 500;

  left: 50%;
  transform: translateY(-50%);
}

.logo-text,
h1,
.simple,
.sub-header,
.homepage_button {
  text-transform: uppercase;
}

h1,
.sub-header {
  color: #f9bf3b;
  font-size: 41px;
  font-weight: bold;
  margin-top: 52px;
}

.simple {
  color: white;
  font-size: 80px;
  font-weight: bold;
  margin-top: 20px;
}

.sub-header {
  margin-top: 12px;
}

.description {
  font-size: 21px;
  font-weight: 500;
  color: white;

  width: 1140px;
  margin: 16px auto 0;
}

.description-marked {
  color: #f9bf3b;
}

.homepage_button {
  width: 315px;
  height: 72px;
  border: 0;
  border-radius: 4px;

  background: linear-gradient(#FEB05D, #FF4D00);

  margin-top: 72px;
  color: white;
  font-weight: 500;
}